body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d9bcbc;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(140, 187, 157);
    text-decoration: none;
}

main {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

article {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

article h2 a {
    text-decoration: none;
    color: #333;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
